body {
    overflow: hidden;
}

/* Default Content BG Color */
.v-content {
    background-color: #F4F4F4;
}

/* Default Content Container Width */
.container {
    max-width: 750px !important;
}

/* Remove underline from menu links */
div.v-list a:hover {
    text-decoration: none !important;
}


/**
 * COLOR THEMES
 */
.primary-bg {
    background-color: var(--v-primary-base) !important;
    color: var(--v-primaryText-base) !important;
}
.primary-bg * {
    color: var(--v-primaryText-base) !important;
}
.secondary-bg {
    background-color: var(--v-secondary-base) !important;
    color: var(--v-secondaryText-base) !important;
}
.secondary-bg * {
    color: var(--v-secondaryText-base) !important;
}
.primary-fg, .primary-fg * {
    color: var(--v-primary-base) !important;
}


/* SHOW/HIDE ON XS & HIDE/SHOW ON SM/MD/L/XL */
@media screen and (min-width: 0px) and (max-width: 599px) {
    .v-xsmall-show {
        display: block !important;
    }
    .v-xsmall-hide {
        display: none !important;
    }
}
@media screen and (min-width: 600px) {
    .v-xsmall-show {
        display: none !important;
    }
    .v-xsmall-hide {
        display: block !important;
    }
}

/* SHOW/HIDE ON XS/SM & HIDE/SHOW ON MD/L/XL */
@media screen and (min-width: 0px) and (max-width: 959px) {
    .v-small-show {
        display: block !important;
    }
    .v-small-hide {
        display: none !important;
    }
}
@media screen and (min-width: 960px) {
    .v-small-show {
        display: none !important;
    }
    .v-small-hide {
        display: block !important;
    }
}

/**
 * MEDIA QUERY BREAK POINTS:
 * xsmall: 0 - 599
 * small: 600 - 959
 * medium: 960 - 1263
 * large: 1264 - 1903;
 * xlarge: 1904+;
 */